@mixin beftl($top, $left) {
   content: '';
   position: absolute;
   top: $top;
   left: $left;
}

@mixin fontwsh($wei, $siz, $hei) {
   font-weight: $wei;
   font-size: $siz;
   line-height: $hei;
}

html, body {
   font-size: 16px;
   font-family: Montserrat, sans-serif;
   line-height: 160%;
}

.wrapper {
   max-width: 1920px;
   min-height: 100%;
}

.main {
   background: #fff;
   padding-top: 89px;
}

.container {
   max-width: 1260px;
   padding: 0 15px;
   margin: 0 auto;
   height: 100%;
}

// ==============================HEADER====================
// ==============================HEADER====================

.header {
   position: relative;
   height: 900px;
   background: url(../image/town.jpg) 50% 50% / cover no-repeat;
   overflow: hidden;
   &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba(0, 0, 0, 0.59);
      z-index: 1;
   }
}

.header__inner {
   position: relative;
   margin-top: 15px;
   z-index: 2;
}
.header__nav {
   display: flex;
   justify-content: space-between;
   margin-bottom: 140px;
}
.header__logo {
   display: block;
   padding-right: 30px;
}
.header__nav-list {
   display: flex;
   justify-content: space-between;
   width: 507px;
}
.header__nav-item {
   @include fontwsh(500, 18px, 80px);
   color: #fff;
   a {
      display: block;
      white-space: nowrap;
      padding: 0 5px;
      transition: all .3s;
   }
   a:hover {
      transform: scale(1.1);
      color: #61B5E4;
   }
}

.header__input-link {
   position: relative;
   @include fontwsh(500, 18px, 80px);
   color: #fff;
   padding: 0 45px;
   margin-left: 30px;
   transition: all .3s;
      &::before {
         content: '';
         position: absolute;
         top: 50%;
         left: 0;
         width: 149px;
         height: 55px;
         background: #07AF91;
         border-radius: 10px;
         transform: translateY(-50%);
         transition: all .3s;
         z-index: -1;
      }
      &:hover::before {
         background: #61B5E4;
      }
}

// =======================HEADER__BODY=========

.header__body {
   width: 780px;
}
.header__title {
   @include fontwsh(700, 43px, 60px);
   text-transform: uppercase;
   color: #fff;
      p {
         position: relative;
         &::before {
            @include beftl(0, -10px);
            width: 773px;
            height: 59px;
            background: #07AF91;
            border-radius: 3px; 
            z-index: -1; 
         }
      }
}

.header__text {
   @include fontwsh(400, 34px, 80px);
   color: #fff;
}

.header__request-btn {
   @include fontwsh(600, 20px, 80px);
   color: #fff;
   padding: 0 33px;
   background: linear-gradient(276.41deg, #016CA8 -7%, #61B5E4 77.16%);
   border-radius: 10px;
   transition: all .5s;
   &:hover {
      background: linear-gradient(276.41deg, #016CA8 -7%, #016CA8 77.16%);
      box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
      
   }
}

// ===========================MAIN================
// ===========================MAIN================


.services {
   margin-bottom: 100px;;
}
.services__inner {
}
.services__title {
   @include fontwsh(700, 36px, 80px);
   color: #1178B2;
   margin-bottom: 110px;
}
.services__content {
}
.services__item {
   display: flex;
   justify-content: space-between;
   padding-bottom: 190px;
   &:last-child {
      padding-bottom: 0;
   } 
}
.services__description {
   width: 674px;
}
.services__description-title {
   @include fontwsh(600, 24px, 29px);
   color: #1178B2;
   padding-bottom: 25px;
}
.services__description-text {
   @include fontwsh(300, 20px, 30px);
   padding-bottom: 20px;

}
.services__description-btn {
   @include fontwsh(600, 18px, 70px);
   color: #fff;
   padding: 0 74px;
   background: #07AF91;
   border-radius: 10px;
   transition: all .3s;
   &:hover {
      background: #61B5E4;
   }
}
.services__item-img {
   overflow: hidden;
}

// =======================USAGE==============
// =======================USAGE==============

.usage {
   margin-bottom: 100px;
}
.usage__inner {
   
}
.usage__title {
   @include fontwsh(700, 36px, 80px);
   color: #1178B2;
   margin-bottom: 35px;
}
.usage__list {
   display: flex;
   justify-content: space-between;
}
.usage__item {
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 392px;
   height: 100%;
   box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.09);
   border-radius: 10px;
}
.usage__item-number {
   @include fontwsh(800, 80px, 20px);
   color: rgba(17, 120, 178, 0.5);
   padding: 87px 0 61px;
}
.usage__item-title {
   @include fontwsh(600, 20px, 30px);
   padding-bottom: 15px;
}
.usage__item-content {
   @include fontwsh(300, 16px, 25px);
   text-align: center;
   padding: 0 30px 35px;
}

// =====================CONSULTATION====================
// =====================CONSULTATION====================
.consultation{

}

.consultation__wrapper {
   position: relative;
   margin-bottom: 100px;
   background: url(../image/startup.jpg) 50% 50% / cover no-repeat;
   overflow: hidden; 
   &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba(0, 0, 0, 0.59);
      overflow: hidden;
      z-index: 1;
   }
}
.consultation__inner {
   display: flex;
   flex-direction: column;
   align-items: center;
   position: relative;
   max-width: 1390px;
   margin: 0 auto;
   z-index: 2;
}
.consultation__title {
   @include fontwsh(700, 40px, 60px);
   text-align: center;
   text-transform: uppercase;
   color: #FFFFFF;
   background: #07AF91;
   border-radius: 3px;
   margin-top: 140px;
}
.consultation__text {
  @include fontwsh(500, 24px, 60px);
   text-align: center;
   color: #FFFFFF;
   margin-bottom: 20px;
}
.consultation__btn {
   @include fontwsh(600, 20px, 80px);
   color: #FFFFFF;
   padding: 0 38px;
   background: linear-gradient(276.41deg, #016CA8 -7%, #61B5E4 77.16%);
   border-radius: 10px;
   margin-bottom: 172px;
   transition: all .5s;
   &:hover {
      background: linear-gradient(276.41deg, #016CA8 -7%, #016CA8 77.16%);
      box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);   
   }
}

// ==========================MARKETSWORK============================
// ==========================MARKETSWORK============================

.marketswork {
   margin-bottom: 100px;
}

.marketswork__inner {
}

.marketswork__mixitup {
}
.marketswork__mixitup-btns {
   display: flex;
   justify-content: space-between;
   background: #CFDDEB;
   margin-bottom: 60px;
}
.marketswork__mixitup-btn {
   @include fontwsh(400, 20px, 60px);
   text-align: center;
   color: #484848;
   width: 306px;
   padding: 5px 0;
   margin-right: 1px;
   &:last-child {
      margin-right: 0;
   }
}

.marketswork__mixitup-btn--active {
   background: #88BBD8;
   border-radius: 5px;
}
.marketswork__mixitup__container {
}

.mix {
}
.category-a {
   position: relative;
   z-index: 0 ;
   &::before {
      @include beftl(15px, 0);
      width: 652px;
      height: 323px;
      background: url(../image/map.svg) 0 0  no-repeat;
   }
}

.marketswork__mixitup__content {
   display: flex;
   justify-content: space-between;
   max-width: 1060px;
}
.marketswork__mixitup__content__description {
   position: relative;
   z-index: 5;
   width: 345px;
   padding-right: 25px;
}
.marketswork__mixitup__content__description-title {
   @include fontwsh(600, 32px, 41px);
   text-transform: uppercase;
   color: #000000;
   span {
      color: #07AF91;
   }
   padding-bottom: 30px;
}
.marketswork__mixitup__content__description-text {
   @include fontwsh(400, 16px, 22px);
   color: #000000;
   padding-bottom: 35px;
}
.marketswork__mixitup__content__description-link {
   @include fontwsh(600, 18px, 60px);
   color: #FFFFFF;
   padding: 5px 46px;
   background: linear-gradient(276.41deg, #016CA8 -7%, #61B5E4 77.16%);
   border-radius: 10px;
   margin-bottom: 40px;
   transition: all .5s;
   &:hover {
      background: linear-gradient(276.41deg, #016CA8 -7%, #016CA8 77.16%);
      box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);   
   }
}
.marketswork__mixitup__content__description__assistant {
   display: flex;
   align-items: center;
}
.marketswork__mixitup__content__description__assistant-img {
   max-width: 62px;
   max-height: 62px;
   margin-right: 10px;
}
.marketswork__mixitup__content__description__assistant__title {
}
.marketswork__mixitup__content__description__assistant__title-name {
   font-weight: 500;
   font-size: 16px;
   color: #000000;
}
.marketswork__mixitup__content__description__assistant__title-position {
   font-weight: 400;
   font-size: 14px;
   color: #727272;
}

.marketswork__mixitup__content__description__presentation__list {
   position: relative;
   z-index: 5;
   display: grid;
   grid-template: repeat(2, 200px) / repeat(2, 289px);
   gap: 20px;

}
.marketswork__mixitup__content__description__presentation__item {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   background: #FFFFFF;
   box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.09);
   border-radius: 10px;
   &:last-child {
      background: #1178B2;
      box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.1);
      transition: all .3s;
      &:hover {
         background: #07AF91;
      }
   }
}
.marketswork__mixitup__content__description__presentation__item-title {
   display: flex;
   justify-content: center;
   @include fontwsh(800, 48px, 20px);
   text-align: center;
   color: rgba(17, 120, 178, 0.5);
   margin-bottom: 30px;
   span {
      font-size: 24px;
      padding-left: 7px;
   }
}
.marketswork__mixitup__content__description__presentation__item-descr {
   @include fontwsh(400, 16px, 20px);
   text-align: center;
   color: rgba(16, 16, 16, 0.5);
}
.marketswork__mixitup__content__description__presentation__item__link {
   width: 190px;
   text-align: center;
   svg {
      margin-bottom: 5px;
   }
}
.marketswork__mixitup__content__description__presentation__item__link-text {
   @include fontwsh(500, 20px, 25px);
   text-align: center;
   color: #fff;
}
.category-b {

}
.category-c {
}
.category-d {
}

// =========================== ABOUT =======================
// =========================== ABOUT =======================

.about {
   margin-bottom: 100px;
}

.about__inener {
}
.about__title {
   @include fontwsh(700, 36px, 80px);
   color: #1178B2;
   margin-bottom: 15px;
}
.about__text {
   @include fontwsh(300, 20px, 30px);
   color: #000000;
   margin-bottom: 20px;
}
.about__list {
   display: flex;
   justify-content: space-between;
}
.about__item {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   width: 392px;
   height: 284px;
   box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.09);
   border-radius: 10px;
   margin-right: 20px;
   &:last-child {
      margin-right: 0;
   }
}
.about__item-number {
   @include fontwsh(800, 120px, 100px);
   font-family: 'Inter';
   text-align: center;
   background: linear-gradient(143.71deg, #8BD7DC 21.17%, #1246A9 127.82%);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   background-clip: text;
   text-fill-color: transparent;
   margin-bottom: 23px;
}
.about__item-title {
   @include fontwsh(500, 20px, 24px);
   text-align: center;
   color: #232323;
}
.about__item-img {
   display: block;
   margin-bottom: 30px;
}
.about__video {
}